<div class="row">
    <div class="description">
        <div class="row">
            <div class="col-md-12">
                <button id="close-desc-btn" style="outline: none;" class="pull-right">
                <i class="fa fa-close"></i></button>
            </div>
        </div>
        <div class="modal-body">
            <div class="col-md-7">
                <div class="feature-title">
                    <div class="feature-title-block"><img src="~/Images/logo.png"></div>
                    <div class="recomendation-info-block">
                        <div class="recomendation-info-date text-center"> Фермер: Онищенко Артем</div>
                        <div class="recomendation-info-rate text-center">Рекомендації на:<span>04/05/2017</span></div>
                    </div>
                </div>
                <div class="field-passport">
                    <div class="grow">
                        <div class="grow-title"><span class="should-grow-title">Рекомендовано вирощувати</span></div>
                        <div class="panel panel-danger">
                            <div class="panel-body">Рекомендацій посилаються лише на оптимальність вмісту хімічних елементів в грунті. При наявності небезпечної або несприятливої кількості інших елементів, дані культури не є рекомендованими до посадки, а сама ділянка є непридатною до органічного виробництва </div>
                        </div>
                        <div class="grow-cultures-list should">

                        </div>
                    </div>

                </div>
                
            </div>
            <div class="col-md-5">
                <div class="field-photo"><img src="~/Images/u1.jpeg"></div>
                <div class="chem-elem-desc">
                </div>
            </div>
        </div>
    </div>
</div>
