<div class="row">
    <section class="about-site">
        <div class="col-md-4">
            <div class="site-info">
                <header>Мапа сайту</header>
                <ul type="circle">
                    <li> <a class="map">Карта</a></li>
                    <li> <a class="technology">Технологія</a></li>
                    <li> <a class="certification">Сертифікація</a></li>
                    <li> <a class="contacts"> Контакти </a></li>
                    <li> <a class="team"> Команда </a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="site-info">
                <header>Допомога</header>
                <ul type="circle">
                    <li><a>Про нас</a></li>
                    <li><a>Як це працює?</a></li>
                    <li><a>Умови користування</a></li>
                    <li><a>Запропонувати ідею</a></li>
                    <li><a>Служба підтримки</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="site-info">
                <header>Контакти</header>
                <ul type="circle">
                    <li><a>Facebook</a></li>
                    <li><a>Twitter</a></li>
                    <li><a>RivneStudents</a></li>
                    <li><a>НУВГП</a></li>
                    <li><a>organicportal@gmail.com</a></li>
                </ul>
            </div>
        </div>
    </section>
</div>

<br>
<section>
    <div class="row">
        <div class="col-md-5" style=" font-size: 10px;">
            <strong >
                Створено за фінансової підтримки швейцарсько-української програми «Електронне врядування задля підзвітності влади та участі громади» (EGAP), яка спрямована на використання новітніх інформаційно-комунікаційних технологій, що допомагатимуть вдосконалити якість врядування, покращать взаємодію влади та громадян та сприятимуть соціальним інноваціям в Україні. Програма EGAP фінансується Швейцарською Конфедерацією і виконується Фондом Східна Європа та Фондом InnovaBridge. Детальніше про програму на сайті <a href="http://egap.in.ua/">egap.in.ua</a>
                </strong>
        </div>
        <div class="col-md-2">
            <img src="@Url.Content("~/Images/swiss-logo.jpg")" style="height:90px;">
        </div>
        <div class="col-md-3">
            <img src="@Url.Content("~/Images/egap-logo.png")" style="height:90px;">
        </div>
        <div class="col-md-1">
            <img src="@Url.Content("~/Images/fee-logo.png")" style="height:90px;">
        </div>

    </div>
</section>
<br>