<section id="about" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12 wow fadeInLeft">
                <div class="sub-heading">
                    <h3>Метою проекту є забезпечення управління аграрним виробництвом на основі геоінформаційно-аналітичних систем, впроваджені перспективних технологій агропромислового комплексу, врахуванні об’єктивних факторів розвитку ринкової економіки та нарощування експортного потенціалу держави</h3>
                </div>
                <div class="block">
                    <p>Портал вирішує проблему сучасного інформаційного, консультаційного, бізнесового, маркетингового, дорадчого забезпечення аграрного виробництва. Портал міститиме системну та оброблену інформацію про: можливості і доцільність способів використання земель; рентабельність, спеціалізацію, екологічну та соціальну відповідальність бізнесу; еколого-економічне обґрунтування доцільності та витрат на перехід до органічного виробництва в режимі запиту (онлайн); облік якості і кількості врожаїв, контроль за використанням земель або врожаїв; можливості встановлення датчиків та їх контролю із моніторингу та інших функцій; аналіз агрохімічних показників грунту та показників забезпеченості поживними речовинами рослин тощо.</p>
                    <p> </p>
                </div>
            </div>
            <div class="col-md-5 col-sm-12 wow fadeInLeft" data-wow-delay="0.3s">
                <div class="about-slider">
                    <div class="init-slider">
                        <div class="about-item">
                            <img src="~/Images/2.png" alt="" class="img-responsive">
                        </div>
                        <div class="about-item">
                            <img src="~/Images/3.png" alt="" class="img-responsive">
                        </div>
                        <div class="about-item">
                            <img src="~/Images/1.png" alt="" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>