
<section id="service" class="section">
    <div class="container">
        <div class="row">
            <div class="heading wow fadeInUp">
                <h2>Можливості порталу</h2>
                <p>Ідея геоінформаційно-аналітичної системи (геопорталу) полягає у створенні універсальної інформаційної платформи, здатної інтегрувати відомості агровиробничого характеру на різних рівнях виробництва, представляти у вигляді картограм і графіків та розподіляти отримані результати за допомогою спеціалізованого Web-ГІС додатку</p>
            </div>
            <div class="col-sm-6 col-md-3 wow fadeInLeft">
                <div class="service">
                    <div class="icon-box">
                        <span class="icon">
                            <i class="ion-android-desktop"></i>
                        </span>
                    </div>
                    <div class="caption">
                        <h3>Придатність до органіки</h3>
                        <p>Наша система аналізує агрохімічні показники земельної ділянки і вказує наскільки придатна вона до органічного землевиробництва</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="0.3s">
                <div class="service">
                    <div class="icon-box">
                        <span class="icon">
                            <i class="ion-speedometer"></i>
                        </span>
                    </div>
                    <div class="caption">
                        <h3>Економічна ефективність</h3>
                        <p>Врахувавши ряд факторів, ми можемо підказати скільки коштів вам потрібно витратити для переходу до органічного землеробства</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="0.6s">
                <div class="service">
                    <div class="icon-box">
                        <span class="icon">
                            <i class="ion-ios-infinite-outline"></i>
                        </span>
                    </div>
                    <div class="caption">
                        <h3>Правила сертифікації</h3>
                        <p>Ми зібрали всю необхідну документацію для проходження сертифікації. Отримання сертифікату відкриває двері до нового ринку збуту</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="0.9s">
                <div class="service">
                    <div class="icon-box">
                        <span class="icon">
                            <i class="ion-ios-cloud-outline"></i>
                        </span>
                    </div>
                    <div class="caption">
                        <h3>Переробка та збут</h3>
                        <p>Експерти нададуть інформацію про рекомендовані с/г культури, перехідний період, технології вирощування, заготівлі та переробки.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
