<section id="team" class="section">
    <div class="container">
        <div class="row">
            <div class="heading wow fadeInUp">
                <h2>Команда проекту</h2>
            </div>
            <div class="col-sm-6 col-md-3 wow fadeInLeft">
                <div class="service">
                    <p>
                        <center><img src="~/Images/sk.jpg"></center>
                    </p>
                    <div class="caption">
                        <h3>Скрипчук Петро</h3>
                        <p>Керівник проекту, експерт у галузі органічного виробництва, досвід 15 років, д.е.н, професор, член Технічного комітету із розробки стандартів (ТК 93 УкрНДНЦ), голова громадської організації “ЗІР”, доктор економічних наук з економіки природокористування, автор 220 наукових праць у галузі сертифікації, стандартизації, органічного виробництва, екологічного та водогосподарського менеджменту</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="0.6s">
                <div class="service">
                    <p>
                        <center><img src="~/Images/kr.jpg"></center>
                    </p>
                    <div class="caption">
                        <h3>Карпюк Анатолій</h3>
                        <p>Менеджер проекту, к.т.н, доцент кафедри ГЕ, ТЕ та ГМ Національного університету водного господарства та природокористування, співорганізатор хакатону «Розумне студмістечко»</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="0.3s">
                <div class="service">
                    <p>
                        <center> <img src="~/Images/zh.jpg"> </center>
                    </p>
                    <div class="caption">
                        <br><h3>Жуковський Віктор</h3>
                        <p>ІТ спеціаліст (ASP.NET MVC, MS SQL/MySQL, MS Azure та ін.), старший викладач кафедри прикладної математики Національного університету водного господарства та природокористування</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="0.9s">
                <div class="service">
                    <p>
                        <center><img src="~/Images/pch.jpg"></center>
                    </p>
                    <div class="caption">
                        <h3>Пічура Віталій</h3>
                        <p>Експерт з ГІС-технологій, керівник і співвиконавець 9-ти міжнародних освітніх та науково-технічних проектів, кандидат сільськогосподарських наук, доцент Херсонського державного аграрного університету. Наукові інтереси: дистанційне зондування Землі, геопортал, геоуправління, басейнові принципи природокористування, меліорація, моделювання і прогнозування стану навколишнього середовища.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
