#service h3 {
    margin-left: 3rem;
    margin-bottom: 30px;
}

.service {
    text-align: left;
}
.service .caption {
    text-align: center;
}
.service .caption h3 {
    margin: 0 0 10px;
    color: #333333;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: normal;
    text-transform: uppercase;
}

.service .icon-box {
    display: inline-block;
    margin-bottom: 15px;
    overflow-y: hidden;
    position: relative;
    width: 100%;
}
.service .icon-box:before {
    display: block;
    content: '';
    position: relative;
    top: 75px;
    width: 100px;
    height: 1px;
    display: block;
    margin: 0 auto;
    background-color: #cbcbcd;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -khtml-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.service .icon-box .icon {
    background-color: #26282b;
    border-radius: 5px;
    display: inline-block;
    height: 75px;
    left: 36%;
    position: relative;
    top: 12px;
    width: 75px;
    -webkit-transform: rotate(50deg);
       -moz-transform: rotate(50deg);
        -ms-transform: rotate(50deg);
         -o-transform: rotate(50deg);
            transform: rotate(50deg);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#8ec64e), color-stop(100%,#41aba0));
  background: -webkit-linear-gradient(-45deg, #8ec64e 0%,#41aba0 100%);
  background: -o-linear-gradient(-45deg, #8ec64e 0%,#41aba0 100%);
  background: -ms-linear-gradient(-45deg, #8ec64e 0%,#41aba0 100%);
  background: linear-gradient(135deg, #8ec64e 0%,#41aba0 100%);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -khtml-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.service:hover .icon-box .icon {
    background-color: #41aba0;
}

.service .icon-box .icon i {
    color: #fff;
    font-size: 30px;
    height: 75px;
    line-height: 70px;
    text-align: center;
    width: 75px;
    display: inline-block;
    -webkit-transform: rotate(-50deg);
       -moz-transform: rotate(-50deg);
        -ms-transform: rotate(-50deg);
         -o-transform: rotate(-50deg);
            transform: rotate(-50deg);
}

#service .thumbnail {
    border: 2px solid #DEDEDE;
    border-radius: 0px;
    padding: 40px 0;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
#service .thumbnail:hover {
    background-color: #41aba0;
    border: 2px solid #41aba0;
    opacity: 1;
}
.thumbnail .icon {
    font-size: 50px;
}
#service .thumbnail:hover .icon,
#service .thumbnail:hover .caption h3,
#service .thumbnail:hover .caption p {
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
#service .thumbnail img {
    padding-bottom: 30px;
}
#service .thumbnail .img-adjust {
    margin-top: 10px;
    position: relative;
}
#service .thumbnail .caption h3 {
    color: #333333;
    font-weight: 300;
    font-size: 25px;
    padding-bottom: 22px;
}
#service .caption p {
    line-height: 1.5;
    font-size: 15px;
    color: #7e7e7e;
}

.section {
    padding: 10px 20px;
}

#about h3 {
  font-size: 26px !important;
  font-weight: 300;
  line-height: 36px;
  margin-top: 20px;
  margin-left: 1.5rem;
}
#about .heading p {
    font-size: 18px;
    
}
#about .block p {
    font-size: 15px;
    color: #7e7e7e;
    line-height: 30px;
}
#about .block .bottom-text {
    padding-right: 20px;
}
#about .block img {
    width: 100%;
}


#call-to-action {
    position: relative;
}

#call-to-action .block h2 {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 1.5;
}
.heading h2{
    font-size: 25px;
}
#call-to-action .block p {
    font-size: 15px;
    padding-right: 30px;
}
    #call-to-action .block input {
        width: 40%;
        height: 40px;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        border: solid 1px #52944C;
        display: inline-block;
        box-shadow: none;
    }

#contact {

}
hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 0 0 24px 0;
    width: 100%;
}
.address {

}
.address p {
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 22px;
  color: #666;
}

.input-field .form-control {
    height: 38px;
    margin: 0 auto;
    border: 1px solid #52944C;
    border-radius: 20px;
    width: 100%;
    height: 40px;
    padding-left: 20px;
    font-weight: 500;
    margin-bottom: 24px;
}
.btn-send {
    line-height: 48px;
    border: 2px solid #52944C;
    background: #52944C;
    color: #fff;
    width: 100%;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 20px ;
    margin-top: 10px;
}

.input-field label {
    color: rgba(237, 28, 36, 0.7);
} 
.form-group .input-field + .input-field {
    margin-top: 20px;
}
.input-field textarea.form-control {
    height: 160px;
    margin: 0 auto;
    box-shadow: none;
}
.form-group {
    margin-top: 20px;
}
    .form-group .btn-submit {
        border: 0 none;
        border-radius: 0;
        color: #fff;
        padding: 10px 20px;
        font-size: 15px;
        background-color: #52944C;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        margin-left: -5px;
        margin-top: -0.2rem;
    }
.contact-info{
    margin-top: 1rem;
}
#contact .block .btn span {
    padding-left: 23px;

}
#success,
#error {
    display: none;
}
